        .blink {
            animation: blink-animation 1s steps(2, start) infinite;
        }
        @keyframes blink-animation {
            to {
                visibility: hidden;
            }
        }
 
        .countdown {
            background-color: green;
            color: white;
            border-radius: 1px;
            padding: 2px 3px;
            display: inline-block;
        }

        .live-now {
           background-color: red;
            color: white;
            border-radius: 3px;
            padding: 2px 5px;
            display: inline-block;
        }
        
        
        .match-end  {
            background-color: grey;
            color: white;
            border-radius: 3px;
            padding: 2px 5px;
            display: inline-block;
        }
        
