        .blink {
            animation: blink-animation 1s steps(2, start) infinite;
        }
        @keyframes blink-animation {
            to {
                visibility: hidden;
            }
        }
        .start-soon {
            background-color: green;
            color: white;
            border-radius: 3px;
            padding: 3px 7px;
            display: inline-block;
        }
        .live-now {
           background-color: red;
            color: white;
            border-radius: 3px;
            padding: 3px 7px;
            display: inline-block;
        }
        
        
        .match-end  {
            background-color: grey;
            color: white;
            border-radius: 3px;
            padding: 3px 7px;
            display: inline-block;
        }
        
