.blink {
    animation: blink-animation 1s linear infinite;
}

@keyframes blink-animation {
    0%, 100% { opacity: 10; }
    50% { opacity: 0; }
}
 .countdown span {
            background-color: #13B619;
            color: white;
            padding: 4px 4px;
            border-radius: 2px;
            margin: 0 0px;
            font-size: 10px;
        }


.live-now {
    background-color: red;
    color: white;
    border-radius: 3px;
    padding: 2px 3px;
    display: inline-block;
}

.match-end {
    background-color: black;
    color: white;
    border-radius: 3px;
    padding: 2px 3px;
    display: inline-block;
}
